.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

p {
    color: orange;
    font-weight: bold;
    text-align: center;
}

footer {
    background-color: orange;
    color: #fafafa;
    text-align: center;
    padding: 1%;
}

.social-title {
    text-align: center;
    font-weight: bold;

}

/* Social Media icons */
.social-links li a i {
    color: #fafafa;
    background: #8f8f8f;
    font-size: 25px;
}

/* Changes the color of the social media links when moused over */
.social-links li a i:hover {
    color: lightgreen;
    background: #8f8f8f;
}

h5 {
    color: lightseagreen;
    font-weight: bold;
    text-align: center;
}

h3 {
    text-align: center;
    color: lightseagreen;
    font-weight: bold;
}

.background {
    background-attachment: fixed;
    margin: auto;
    background-position: bottom;
    padding: 1%;

}

.flashes h5 {
    text-align: center;
    padding: 1%;
    margin: auto;
    background-color: orange;
}
.cover{
    display: block;
    margin: auto;
    width: 50%;
}