.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
#book{
    background-attachment: fixed;
    background-image: url('static/images/bookshop.jpg');
    background-position: bottom;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    margin:auto;  
}
footer {
    background-color: peru;
    color: #fafafa;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
}
.social-title {
    text-align: center;
    font-weight: bold;

}