.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
p{
    color:orange;
    font-weight: bold;
    text-align: center;
}
footer {
    background-color:orange;
    color: #fafafa;
    text-align: center;
    padding-bottom: 1%;
}
.social-title {
    text-align: center;
    font-weight: bold;

}
/* Social Media icons */
.social-links li a i {
    color: #fafafa;
    background: #8f8f8f;
    font-size: 25px;
}

/* Changes the color of the social media links when moused over */
.social-links li a i:hover {
    color: lightgreen;
    background: #8f8f8f;
}
h5{
    color: lightseagreen;
    font-weight: bold;
    text-align: center;
}
h3{
    text-align: center;
    color: lightseagreen;
    font-weight: bold; 
}