{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Book</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_book') }}">

        <!-- book name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="book_name" name="book_name" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="book_name">Book Name</label>
            </div>
        </div>
        <!-- author name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="author_name" name="author_name" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="author_name">Author</label>
            </div>
        </div>
        <!-- category selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="category" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category}}">{{ category.category}}</option>
                    {% endfor %}
                </select>
                <label for="category">Book Category</label>
            </div>
        </div>
        <!-- isbn -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="isbn" name="isbn" type="text" class="validate" required>
                <label for="isbn">ISBN</label>
            </div>
        </div>
        <!-- publisher -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="publisher" name="publisher" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="publisher">Publisher</label>
            </div>
        </div>
        <!-- price -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="price" name="price" minlength="5" maxlength="50" type="text" class="validate" required>
                <label for="price">Price</label>
            </div>
        </div>
        <!-- release date picker -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="release_date" name="release_date" type="text" class="datepicker validate" required>
                <label for="release_date">Release Date</label>
            </div>
        </div>
              <!-- website url -->
              <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="website_url" name="website_url" minlength="5" maxlength="200"
                        class="materialize-textarea validate" required></textarea>
                    <label for="website_url">URL to puchase this book</label>
                </div>
            </div>
        <!-- comments -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="comments" name="comments" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="comments">Comments</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Add Book <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}