{% extends "base.html" %}
{% block content %}

    <h3>Add Category</h3>
    <p>Please fill in the below details and click the "Add Category" button to add a category to the site.
        <i class="fas fa-plus"></i>
    </p>
    <div class="row card-panel grey lighten-5">
        <form class="col s12 m12 l12" method="POST" action="{{ url_for('add_category') }}">
            <!-- category -->
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    <i class="fas fa-folder-open prefix"></i>
                    <input id="category" name="category" minlength="3" maxlength="25"
                        type="text" class="validate" required>
                    <label for="category">Category Name</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 m12 l12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1">
                        Add Category <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}