{% extends "base.html" %}
{% block content %}

    <h3>Edit Category</h3>
    <p>Please click the "Edit Category" button to save changes to the existing category or click "Go Back to Categories" to leave this page.
        <i class="fas fa-edit"></i>
    </p>
    <div class="row card-panel grey lighten-5">
        <form class="col s12 m12 l12" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">
            <!-- category  -->
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    <i class="fas fa-folder-open prefix"></i>
                    <input id="category" name="category" minlength="3" maxlength="25"
                        type="text" value="{{ category.category }}" class="validate">
                    <label for="category">Category Name</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 m12 l12 center-align">
                   <button type="submit" class="btn-large light-blue darken-1">
                        Edit Category <i class="fas fa-edit right"></i>
                    </button> 
                    <a href="{{ url_for('get_categories') }}" class="btn-large red">
                        Go Back to Categories <i class="fas fa-times-circle right"></i>
                    </a>   
                </div>
            </div>
        </form>
    </div>
{% endblock %}